@font-face {
    font-family: "Arthead FREE";
    src        : url("../fonts/Arthead-Regular.woff") format("woff"),
}

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src        : url("http://fonts.googleapis.com/earlyaccess/notosanskr.css"),
}

@font-face {
    font-family: 'Cutive Mono', monospace;
    src        : url("../fonts/CutiveMono-Regular.woff2") format("woff2"),
}

@font-face {
    font-family: 'NanumBarunpen';
    src        : url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Gosanja';
    src        : url("../fonts/Gosanja.woff2") format("woff2"),
}

@font-face {
    font-family: 'Jellee-Roman';
    src        : url("../fonts/Jellee-Roman.woff2") format("woff2"),
}