@import "base.less";
@import "font.less";

body {
    font-family: 'Noto Sans KR', sans-serif;
    background : black;
    color      : white;
    display    : flex;
    margin     : auto;
}

// components
@import "component/shared/dialogue/alert.less";
@import "component/shared/dialogue/confirm.less";
@import "component/shared/dialogue/prompt.less";
@import "component/shared/connectwalletpopup.less";
@import "component/shared/klipqrpopup.less";
@import "component/shared/popup.less";

// views
@import "view/home.less";
@import "view/meecats.less";